#s3box {
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    height: 30vw;
    top: 160%;
    background: #f2f2f2;
}

#s3box1 {
    position: absolute;
    height: 40vh;
    width: 36%;
    right: 10%;
    top: 10vh;
    border: none;
}

#s3head_content {
    position: absolute;
    width: 80%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 2.5vw;

    color: #000000;
}


#s3content1 {
    position: absolute;
    top: 4vw;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;

    color: #000000;
}

#s3content2 {
    position: absolute;
    top: 14vw;
    width: 85%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;

    color: rgba(0, 0, 0, 0.5);
}


#s3dot {
    position: absolute;
    width: 5.5%;
    height: 2vw;
    border-radius: 50%;

    top: 17vw;
    background: #000000;
}


#s3content3 {
    position: absolute;
    top: 17vw;
    left: 7%;
    width: 85%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;

    color: #000000;
}



/****************  All shapes triangle square and dot *******************/


#s3box2 {

    box-sizing: border-box;
    position: absolute;
    width: 45%;
    height: 50vh;
    left: 4%;
    top: 12%;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  
}


@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}



#s3box2squ {
    box-sizing: border-box;

    position: absolute;
    width: 12%;
    height: 5.2vw;
    left: 55%;
    top: 3.5vw;

    background: #000000;
    border: 2px solid #000000;
}

#s3box2tri1 {
    box-sizing: border-box;

    position: absolute;
    width: 12%;
    height: 5.2vw;
    left: 43%;
    top: 8.55vw;
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%);
    border: 2px solid #000000;
   
}

#s3box2tri2 {
    box-sizing: border-box;

    position: absolute;
    width: 12%;
    height: 5.2vw;
    left: 31.2%;
    top: 13.7vw;
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%);
    background: #000000;
    border: 2px solid #000000;
}


#s3box2tri3 {
    box-sizing: border-box;

    position: absolute;
    width: 12%;
    height: 5.2vw;
    left: 54.9%;
    top: 8.55vw;

    clip-path: polygon(100% 100%,0% 100%, 0% 0%);
    border: 2px solid #000000;

}


#s3box2circle1 {
    box-sizing: border-box;

    position: absolute;
    width: 12%;
    height: 5.2vw;
    left: 28%;
    top: 4vw;
    border-radius: 50%;
    border: 2px solid #000000;
}


#s3box2circle2 {
    box-sizing: border-box;

    position: absolute;
    width: 12%;
    height: 5.2vw;
    left: 45%;
    top: 14vw;
    border-radius: 50%;
    border: 2px solid #000000;
}


#s3box2dot2 {
    box-sizing: border-box;

    position: absolute;
    width: 4.5%;
    height: 1.6vw;
    border-radius: 50%;
    background: #000000;
    border: 2px solid #000000;

}


#s3box2line1{

    width: 0.2%;
    height: 8vw;
    margin-left: 49.5%;
    margin-top: 7vw;
    transform: rotate(45deg);
    background: #000000;
}


#s3box2line2{

    width: 0.2%;
    height: 7.2vw;
    margin-left: 61.14%;
    margin-top: -7.45vw;
    transform: rotate(135deg);
    background: #000000;
}