#s5box {
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    height: 56vw;
    top: 282%;
    background: #FFFFFF;
}


/******************************   BOX 1  **************************************/



#s5box1 {

    position: absolute;
    left: 9.38%;
    right: 9.38%;
    top: 9.3%;
    bottom: 47.67%;

    background: #000000;
}


#s5box1content1 {

    position: absolute;
    left: 42.57%;
    top: 15.58%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;

    color: #FFFFFF;
}


#s5box1content2 {

    position: absolute;
    left: 42.57%;
    top: 24.77%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 3.8vw;

    color: #FFFCFC;
}


#s5box1content3 {
    position: absolute;
    left: 42.57%;
    top: 78.6%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2vw;

    color: #FFFFFF;
}



/*********************************   BOX 11   ****************************************/


#s5box11 {

    position: absolute;
    width: 35%;
    height: 24vw;
    background: #222222;
}


#s5box11squ {
    box-sizing: border-box;

    position: absolute;
    width: 17%;
    height: 5.2vw;
    left: 50%;
    top: 3.5vw;

    background: #ffffff;
    border: 2px solid #ffffff;
}

#s5box11tri1 {
    box-sizing: border-box;

    position: absolute;
    width: 17%;
    height: 5.2vw;
    left: 33.3%;
    top: 8.55vw;
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%);
    border: 2px solid #ffffff;
   
}


#s5box11tri3 {
    box-sizing: border-box;

    position: absolute;
    width: 17%;
    height: 5.2vw;
    left: 49.9%;
    top: 8.55vw;

    clip-path: polygon(100% 100%,0% 100%, 0% 0%);
    border: 2px solid #ffffff;

}


#s5box11circle2 {
    box-sizing: border-box;

    position: absolute;
    width: 14%;
    height: 5.2vw;
    left: 38%;
    top: 14.5vw;
    border-radius: 50%;
    border: 2px solid #ffffff;
}


#s5box11dot2 {
    box-sizing: border-box;

    position: absolute;
    width: 3%;
    height: 1.4vw;
    border-radius: 50%;
    background: #ffffff;
    border: 2px solid #ffffff;

}


#s5box11line1{

    width: 0.3%;
    height: 7.35vw;
    margin-left: 42%;
    margin-top: 7.31vw;
    transform: rotate(43deg);
    background: #ffffff;
}


#s5box11line2{

    width: 0.3%;
    height: 7.2vw;
    margin-left: 58.14%;
    margin-top: -7.1vw;
    transform: rotate(136deg);
    background: #ffffff;
}



/*********************************   BOX 2 and 3   ****************************************/



#s5box2 {
    position: absolute;
    left: 9.38%;
    right: 51.04%;
    top: 56.98%;
    bottom: 9.3%;

    background: #F2F2F2;
}

#s5box2content1 {
    position: absolute;
    left: 12.71%;
    top: 8.56%;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.7vw;

    color: #000000;
}

#s5box2content2 {
    position: absolute;
    width: 70%;
    left: 12.71%;
    top: 40.33%;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2vw;

    color: #000000;
}

#s5box2content3 {
    position: absolute;
    left: 12.71%;
    top: 72.56%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;

    color: #000000
}


#s5box3 {
    position: absolute;
    left: 51.04%;
    right: 9.38%;
    top: 56.98%;
    bottom: 9.3%;

    background: #F2F2F2;
}